@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://adakac.github.io/themes/addons/user-tags.css');
@import url('https://adakac.github.io/BetterDiscordStuff/blockBetterDocs.css');
::selection {background:var(--main-color-faded) !important;}
	border-radius:var(--chat-avatar-roundness) !important;
}

/*13.k. Date Viewer*/
#dv-mount {
    background:transparent !important;
}
/*============== END OF SECTION ============== */

/*14. Roundness*/
:root {
	--chat-avatar-roundness:5px;
	--media-roundness:50px;
	--guild-hovered-roundness:12px;
}
.da-guildsWrapper .guildInner-3DSoA4:hover,
.da-guild.da-selected .da-guildInner,
#app-mount .guildsWrapper-5TJh6A.foldercontent .da-guildIcon:hover,
#app-mount .guildsWrapper-5TJh6A.foldercontent .guildInner-3DSoA4:hover,
#app-mount .da-guildsWrapper .inner-1W0Bkn {
	border-radius:var(--guild-hovered-roundness) !important;
}
.da-guildInner {
	border-radius:var(--media-roundness) !important;
	transition:350ms all ease;
}
.mask-3OgeRz,
.image-33JSyf,
.status-oxiHuE:not(.status-3fQvEa),
.avatar-small,
.avatar-xxlarge,
.inner-1W0Bkn,
.avatar-large,
.da-guildsError,
.da-guildsAdd,
.da-iconCircle,
#app-mount .da-privateChannels .inner-1W0Bkn,
.da-guildPlaceholder,
.callAvatarBorder-1D_KaE,
.da-callAvatar {
	border-radius:var(--media-roundness) !important;
}
/*============== END OF SECTION ============== */

/*15. Overwrite Grey SVG's*/
.image-1GzsFd,
.emptyIconFriends-BrjhY9,
.emptyIconGuilds-3OViNh,
.emptyIconStreamerMode-3RfWOW,
.noResultsImage-JbSWtu,
.userSettingsSecurityImage-21pI_Q,
.emptyStateImage-2eMp68,
.image-1GzsFd {
    filter:brightness(0.2) saturate(2) !important;
}
.userSettingsSecurityImage-21pI_Q,
.image-1GzsFd {
    opacity:.75;
}
.empty-3sCt5f {
    background:none !important;
    margin-top:-120px;
}
.emptyStateImage-2eMp68, .image-1GzsFd {opacity:0.7;}
.emptyIconFriends-BrjhY9,
.emptyIconGuilds-3OViNh,
.emptyIconStreamerMode-3RfWOW,
.noResultsImage-JbSWtu {
    opacity:.6;
}
/*Made with ♥ by Tropical and the Derealised Community.
Also, Thank you DevilBro, for letting me use his SVG's to improve the theme!*/
